.wp-block-gallery{
  padding-left: 0 !important;
  display: flex;
  li{
    flex: 1;
    margin-bottom: 0 !important;
  }
  li + li {
    margin-left: $m2;
  }
  li:before{
    display: none !important;
  }
  img{
    border-radius: .5rem;
  }
}