@import "./wp-rte/_legacy";
@import "./wp-rte/_table";
@import "./wp-rte/_media-text";
@import "./wp-rte/_gallery";

// Image
.wp-block-image,
.wp-block-embed,
.wp-block-video {
  margin-bottom: $mb-item;
  display: inline-flex;
  flex-direction: column;
  & > * {
    max-width: 100%;
  }

  figcaption {
    background-color: #555454;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
  }
  &__wrapper {
    display: flex;
  }
}

// Embed
.wp-block-embed {
  margin-bottom: $mb-item;
  iframe{
    max-width: 100%;
  }
  @include RWD(mobile){
    max-width: 100%;
  }
}
