.wp-block-media-text {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  grid-template-areas: "media-text-media media-text-content";
  grid-template-columns: 50% auto;
  align-items: start;
  margin-bottom: $mb-item;
  @include RWD(mobile) {
    display: block;
  }
}
.wp-block-media-text .wp-block-media-text__media {
  grid-area: media-text-media;
  margin: 0;
}
.wp-block-media-text .wp-block-media-text__content {
  word-break: break-word;
  grid-area: media-text-content;
  padding: 0 8%;
  @include RWD(mobile) {
    padding: 0;
    margin-top: $m2;
  }
}

// Table
.wp-block-table {
  width: 100%;
  margin-bottom: $mb-item;
  clear: both;
  border-collapse: separate;

  clear: both;

  caption {
    visibility: hidden;
  }

  td {
    padding: 1em;
    font-size: 1.5rem;
    text-align: center;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  th {
    padding: 15px;
    padding: 20px;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center !important;
    text-transform: uppercase;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  tbody > tr {
    &:nth-child(even) {
      background-color: #f4f4f4;
    }
  }
}

.wp-block-gallery {
  padding-left: 0 !important;
  display: flex;
  li {
    flex: 1;
    margin-bottom: 0 !important;
  }
  li + li {
    margin-left: $m2;
  }
  li:before {
    display: none !important;
  }
  img {
    border-radius: 0.5rem;
  }
}

// OLD
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.content {
  // WP QUOTE
  blockquote {
    $color: #b0e429;
    border-left: 3px solid $color;
    // color: #1a1a1a;
    // font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    line-height: 1.8em;
    margin: 1.1em 3em;
    padding: 1em 2em;
    position: relative;
    transition: 0.2s border ease-in-out;
    z-index: 0;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -4px;
      height: 2em;
      background-color: #ffffff;
      width: 5px;
      margin-top: -1em;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      color: $color;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KPHBhdGggZmlsbD0iI2IwZTQyOSIgZD0iTTkgOXYtN2g3djcuMWMwIDQuOC00LjUgNS40LTQuNSA1LjRsLTAuNi0xLjRjMCAwIDItMC4zIDIuNC0xLjkgMC40LTEuMi0wLjQtMi4yLTAuNC0yLjJoLTMuOXoiPjwvcGF0aD4KPHBhdGggZmlsbD0iI2IwZTQyOSIgZD0iTTAgOXYtN2g3djcuMWMwIDQuOC00LjUgNS40LTQuNSA1LjRsLTAuNi0xLjRjMCAwIDItMC4zIDIuNC0xLjkgMC40LTEuMi0wLjQtMi4yLTAuNC0yLjJoLTMuOXoiPjwvcGF0aD4KPC9zdmc+Cg==");
      background-size: contain;
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      margin-top: -0.6em;
      transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
      transform: translateX(-50%);
    }
    cite {
      display: block;
      font-size: 0.75em;
      line-height: 1.8em;
      margin-top: 1em;
    }

    @include RWD(mobile) {
      border-top: 2px solid $color;
      border-bottom: 2px solid $color;
      border-left: none;
      margin: 1.5em 0;
      padding: 1.5em 1em;
      &:before {
        left: 50%;
        top: 0;
        height: 4px;
        margin-top: -3px;
        margin-left: -1em;
        width: 2em;
      }
      &:after {
        font-size: 0.75em;
        left: 50%;
        top: 0;
        margin-top: -0.5em;
        margin-left: -0.5em;
      }

      cite {
        text-align: right;
      }
    }
  }
}
