.input-box {
  border: 1px solid #adadad;

  border-radius: 4px;
  padding: $m2;
  width: 100%;
  font-family: $font__main;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2em;
  color: $color__text;
  background-color: transparent;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    border-color: $color__title;
    outline: none;
  }

  .form.validate &:required:invalid {
    border-left: solid 4px $color__error;
  }
  .form.validate &:required:valid {
    border-left: solid 4px $color__success;
  }
}
