.slideIn-enter-active,
.slideIn-leave-active {
  transition: 0.25s;
}
.slideIn-enter, .slideIn-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translate(-50%, 100%) translateX(4rem) !important;
}
