.slideIn-enter-active,
.slideIn-leave-active {
  transition: 0.25s;
}
.slideIn-enter,
.slideIn-leave-to {
  opacity: 0;
  transform: translate(-50%, 100%) translateX(4rem) !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: $transition-m;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Y O
.gridy-enter-active,
.gridy-leave-active {
  .gridy__item {
    transition: 0.25s;
    @for $i from 1 through 12 {
      &:nth-child(#{$i}) {
        transition-delay: #{($i - 1) * 0.1s};
      }
    }
  }
}
.gridy-enter,
.gridy-leave-to {
  .gridy__item {
    opacity: 0;
    transform: translateY(4rem);
  }
}
