body.post-type-archive-chantier {
  main {
    padding-top: 25rem;
    @include RWD(tablet) {
      padding-top: 18rem;
    }
    @include RWD(mobile) {
      padding-top: 15rem;
    }
  }
  .banner {
    bottom: calc(100% - 76rem);
    @include RWD(mobile) {
      bottom: calc(100% - 55rem);
    }
  }
}
body.single-chantier {
  main {
    padding-top: 9.4rem;
  }
}
