.section {
  padding: $m8 0;
  @include RWD(mobile) {
    padding: $m7 0;
  }
  &:first-child,
  &.no-pt {
    padding-top: 0;
  }
  &--grey {
    background-color: #f5f5f5;
    &-light {
      background-color: #f4f4f4;
    }
  }
  &--actus {
    background-color: #2b2b2b;
  }
  &--number {
    background-color: #272727;
  }
}
