.btn {
  position: relative;
  height: 7rem;
  display: inline-block;
  border-radius: 3.5rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1rem solid transparent;
  text-decoration: none;
  min-width: 22rem;
  transition: 0.2s;
  transform: translateY(0);

  .flexbox {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4.5rem;
    &:before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 50%;
      bottom: -1rem;
      width: 60%;
      background-image: linear-gradient(
          90deg,
          #98d559 0%,
          #98d459 33%,
          #84c787 33.33%,
          #84c788 66.66%,
          #72bbb2 66.66%,
          #71bbb2 100%
        ),
        linear-gradient(
          90deg,
          #98d559 0%,
          #98d459 33%,
          #84c787 33.33%,
          #84c788 66.66%,
          #72bbb2 66.66%,
          #71bbb2 100%
        );
      background-position: 0 0, 0 100%;
      background-size: 100% 1rem;
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1rem;
    bottom: -1rem;
    width: 50%;
    border-top-left-radius: 3.5rem;
    border-bottom-left-radius: 3.5rem;
    border: 1rem solid #b0e429;
    clip-path: inset(0 49% 0 0);
    border-right: none;
  }
  &:after {
    content: "";
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    width: 50%;
    border-top-right-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;
    border: 1rem solid #5dade0;
    clip-path: inset(0 -1px 0 50%);
    border-left: none;
  }

  .btn__text {
    font-family: $font__fancy;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.2em;
    color: #fff;
  }
  &:hover,
  &:focus {
    transition-delay: 0s;
    transform: translateY(-0.4rem);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
  }
  &--dark .btn__text {
    color: $color__title;
  }
  &--small {
    height: 4.5rem;
    min-width: 14.8rem;
    &:before {
      clip-path: inset(0 43% 0 0);
    }
    &:after {
      clip-path: inset(0 0 0 43%);
    }
    &:before,
    &:after {
      border-width: 0.6rem;
    }
    .flexbox {
      padding: 0 1.8rem;
      &:before {
        background-size: 100% 0.6rem;
      }
    }
    .btn__text {
      font-size: 1.5rem;
    }
  }
}
