.input-text {
  height: rem($form-el-height);
  width: 100%;
  padding: 0 18px;
  background-color: #fff;
  font-family: $font__main;
  font-size: rem($fsi);
  font-weight: 700;
  line-height: 1.2em;
  color: $color__title;
  border: solid 1px transparent;
  outline: none;
  -webkit-appearance: none;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);

  @include RWD(mobile) {
    font-size: rem($fsim);
  }

  &:focus {
    border-color: $color__core;
    outline: none;
  }
}
