.label {
  font-family: $font__main;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2em;
  color: $color__text;
  max-width: 100%;
  letter-spacing: 0.01em;

  .required {
    color: $color__error;
  }
}
