.radio {
  position: absolute;
  height: 1px;
  width: 1px;
  opacity: 0;

  & + label {
    display: flex;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;

    font-family: $font__main;
    font-size: rem($fsi);
    line-height: 1.2em;
    color: $color__text;

    &:before {
      content: "";
      height: 15px;
      width: 15px;
      display: block;
      margin-right: 15px;
      background-color: transparent;
      border: solid 2px $color__text;
      border-radius: 50%;
      flex-shrink: 0;
    }
  }

  &:checked + label {
    &:before {
      border-color: $color__title;
      background-color: $color__title;
    }
  }
}
