.h1 {
  @extend .h1-raw;
  &-raw {
    font-family: $font__fancy;
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.2em;
    color: $color__title;
    letter-spacing: -0.0313em;
    @include RWD(mobile) {
      font-size: 2.6rem;
    }
  }
}

.h2 {
  @extend .h2-raw;
  &-raw {
    font-family: $font__fancy;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.2em;
    color: $color__title;
    letter-spacing: -0.0313em;
    @include RWD(mobile) {
      font-size: 2.2rem;
    }
  }
}

.h3 {
  @extend .h3-raw;
  &-raw {
    font-family: $font__fancy;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2em;
    color: $color__title;
    letter-spacing: -0.0313em;
    @include RWD(mobile) {
      font-size: 1.9rem;
    }
  }
}

.h4 {
  @extend .h4-raw;
  &-raw {
    font-family: $font__fancy;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.2em;
    color: $color__title;
    letter-spacing: -0.0313em;
  }
}

.h5 {
  @extend .h5-raw;
  &-raw {
    font-family: $font__main;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.2em;
    color: $color__title;
  }
}

.link {
  font-family: $font__fancy;
  font-weight: 500;
  line-height: 1.2em;
  color: $color__core;
  transition: color, 0.3s;
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    transition: width 0s ease, background 0.5s ease;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    height: 2px;
    width: 0;
    background: linear-gradient(
      90deg,
      #b0e429 0%,
      #b0e429 20%,
      #98d559 20%,
      #98d459 40%,
      #84c787 40%,
      #84c788 60%,
      #72bbb2 60%,
      #71bbb2 80%,
      #5dade0 80%,
      #5dade0 100%
    );
    transition: width 0.5s ease;
  }

  &:hover,
  &:focus {
    &:before {
      width: 100%;
      background: linear-gradient(
        90deg,
        #b0e429 0%,
        #b0e429 20%,
        #98d559 20%,
        #98d459 40%,
        #84c787 40%,
        #84c788 60%,
        #72bbb2 60%,
        #71bbb2 80%,
        #5dade0 80%,
        #5dade0 100%
      );
      transition: width 0.5s ease;
    }
    &:after {
      width: 100%;
      background: transparent;
      transition: all 0s ease;
    }
  }
}
