.bradius {
  border-radius: 0.5rem;
}

.shadow {
  &-small {
    position: relative;
    & > * {
      position: relative;
      z-index: 2;
    }

    &:after {
      transition: 0.25s;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.3);
      width: 80%;
      height: 50%;
      z-index: 0;
    }
  }
}

// Centrer une image comme un bg contain
.img-contain {
  position: relative;
  & > * {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
  }

  &-center {
    @extend .img-contain;
    & > * {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &-left {
    @extend .img-contain;
    & > * {
      top: 50%;
      left: 0%;
      transform: translate(-0%, -50%);
    }
  }
}
