.bradius {
  border-radius: 0.5rem;
}

.shadow {
  &-small {
    position: relative;
    & > * {
      position: relative;
      z-index: 2;
    }

    &:after {
      transition: 0.25s;
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.3);
      width: 80%;
      height: 50%;
      z-index: 0;
    }
  }
}
