// $core-color: #50e3c2;
// $core-color-font: #35403e;

// $text-color: #707070;
// $title-color: #525252;
// $success-color: #4bbf53;
// $error-color: #ff4064;

// $color__page-bg: #fff;

$color__core: #545454;
$color__core-font: #35403e;

$color__text: #606060;
$color__title: #3b3b3b;
$color__success: #95c11e;
$color__error: #ff4136;

$color__overlay: rgba(0, 0, 0, 0.7);

$color__page-bg: #fff;
