$path: "../fonts/";

// MontSerrat
// Black
// @font-face {
// 	font-family: 'poppins';
// 	font-weight: 400;
// 	font-style: normal;
// 	src: url('#{$path}poppins-regular.woff') format('woff');
// }

//ENDFONTS
$font__fancy: Rubik, sans-serif;
$font__main: "Source Sans Pro", sans-serif;
